
%div.jumbotron
  %p Welcome to radicalhistory.org a soon to be digital platform for discovering, sharing, and posting locative radical history.
  %p This platform is currently being rebuilt, if you're interested in helping:
  %p= link_to "Shoot me an email", "mailto:greggahorton@gmail.com?subject=I Want to help with Radical History"
